<h1>Lista de arquivos</h1>

<p>Path: <%= $root %></p>

<h3>
	<%= notice %>
	<%= alert %>
</h3>

<hr>
<%= render "mostraArquivos" %>
<br>

<%= link_to 'Novo arquivo', uploads_new_path %>
<%= link_to 'Delete', uploads_delete_checkbox_path('delete')%>

<%= link_to "DELETE", uploads_delete_checkbox_path('delete'), :id => 'delete', :confirm => "Are you sure?", :method => :delete %>

<h1>Lista de Pastas</h1>
<p>Path: <%= $root %></p>
<hr>

<%= render 'mostraDir'%>

<hr>
<%= link_to 'Nova Pasta', uploads_new_dir_path, class: 'button' %>


<%= link_to 'Download ZIP', uploads_download_zip_path %>